/*CSS FOR PUMP*/
.pump>img{
    width: 100%;
    height: auto;
}

.txtPump{
    margin: -34px 0px 0px 13px;
    font-size: 16px;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
    font-weight: bold;
    color: #1A4C73;
}

/*CSS FOR TEMPERATURE*/
.temperature>p{
    font-size: 15px;
    margin: 0px 0px 0px -24px;
   font-family: times new roman;
}
.tempTp{
    font-size: 14px;
    margin: -38px 0px 0px -20px;
    font-weight: bold;
    color:#1A4C73;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
}
.tempBtm{
    font-size: 14px;
    margin: -1px 0px 0px -20px;
    font-weight: bold;
    color:#1A4C73;
    font-family:   "Arial", "Arial Bold", Gadget, sans-serif;
}



/*CSS FOR CHILLER*/
.chiller{
    width: 85px;
    height: 0px;
    border-bottom: 42px solid ;
}

.txtTop{
    margin: -38px 0px 0px 38px;
    font-weight: bold;
    font-size: 13px;
    color: black;
    font-family:   "Arial", "Arial Bold", Gadget, sans-serif;
    
}

.txtMdl{
   margin: -11px 0px 0px 57px;
   font-weight: bold;
   font-size: 13px;
   color: black;
   font-family:   "Arial", "Arial Bold", Gadget, sans-serif;
   
}

.txtBtm{
    margin: -10px 0px 0px 38px;
    font-weight: bold;
    font-size: 13px;
    color: black;
    font-family:   "Arial", "Arial Bold", Gadget, sans-serif;
    
}

.chiller>img{
    margin: 6px 0px 0px 3px;
    width: 38%;
    height: auto;
}
.round{
    height: 0px;
    width: 0px;
    border: 6px solid; 
    border-radius: 60px;
    margin: -41px 0px 0px 70px;
}
.chiller>p{
    margin: 29px 0px 0px 27px;
    font-size: 15px; 
    color: black;
    font-family: times new roman;

}


/*CSS FOR AC*/
.setTop{
    margin: -26px 0px 1px 38px;
    padding: 7px 0px 11px 0px;
    color:#1A4C73;
    font-size: 14px;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
    
    font-weight: bold;
}
.tempTop{
    margin: -54px 0px 50px 38px;
    color:#1A4C73;
    font-size: 14px;
    font-family:"Arial", "Arial Bold", Gadget, sans-serif;
    
    font-weight: bold;
}
.setRight{
    margin: -26px 0px 1px -22px;
    padding: 7px 0px 11px 0px;
    color:#1A4C73;
    font-size: 14px;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
    
    font-weight: bold;
}
.tempRight{
    margin: -53px 0px 50px -22px;
    color:#1A4C73;
    font-size: 14px;
    font-family: "Arial", "Arial Bold", Gadget, sans-serif;
    
    font-weight: bold;
}

/*AC RIGHT*/
.ac-right {
   width: 65%;
    height: auto;
}

/*AC TOP*/
.ac-top { 
    width: 65%;
    height: auto;
}

/*AC LEFT*/
.ac-left { 
   width: 65%;
    height: auto;
}

/*AC BOTTOM*/
.ac-bottom {
   width: 65%;
    height: auto;
}

/*DOOR*/

.door-right {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1 {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid;
    border-right: 5px solid white;
    border-top: 1px solid;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 3px solid;
    border-right: 1px solid;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1 {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid;
    border-top: 3px solid;
    border-bottom: 1px solid;
    border-bottom-right-radius: 65px;
}

.door-left1 {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-right-radius: 60px;
}

.door-bottom1 {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid;
    border-right: 3px solid;
    border-top: 1px solid;
    border-top-left-radius: 60px;
    margin-left: 26px;
}

.door1-left {
    width: 25px;
    height: 25px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 3px solid white;
    border-bottom: 3px solid;
    border-top-right-radius: 60px;
}

.door1-bottom {
    width: 25px;
    height: 25px;
    border-right: 3px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px solid white;
    border-top-left-radius: 65px;
}

.door1-right {
    width: 25px;
    height: 25px;
    border-right: 3px solid white;
    border-top: 3px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-bottom-left-radius: 65px;
}

.door1-top {
    width: 25px;
    height: 25px;
    border-right: 3px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top: 3px solid white;
    border-bottom-left-radius: 65px;
}

/*door-open*/
.door-right-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 1px solid #19a9d5;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1-open {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid #19a9d5;
    border-right: 5px solid white;
    border-top: 1px solid #19a9d5;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 3px solid;
    border-right: 1px solid #19a9d5;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1-open {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #19a9d5;
    border-left: 1px solid #19a9d5;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left-open {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid #19a9d5;
    border-top: 3px solid;
    border-bottom: 1px solid #19a9d5;
    border-bottom-right-radius: 65px;
}

.door-left1-open {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid #19a9d5;
    border-top: 1px solid #19a9d5;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom-open {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid #19a9d5;
    border-top: 1px solid #19a9d5;
    border-top-right-radius: 60px;
}

.door-bottom1-open {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid #19a9d5;
    border-right: 3px solid;
    border-top: 1px solid #19a9d5;
    border-top-left-radius: 60px;
    margin-left: 26px;
}

/*door alarm*/

.door-right-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 1px solid #f05050;
    border-right: 5px solid white;
    border-top: 3px solid;
    border-bottom-left-radius: 65px;
}

.door-right1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 1px solid #f05050;
    border-right: 5px solid white;
    border-top: 1px solid #f05050;
    border-top-left-radius: 65px;
    margin-top: 26px;
}

.door-top-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 3px solid;
    border-right: 1px solid #f05050;
    border-top: 5px solid white;
    border-bottom-right-radius: 65px;
}

.door-top1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #f05050;
    border-left: 1px solid #f05050;
    border-right: 3px solid;
    border-top: 5px solid white;
    border-bottom-left-radius: 65px;
    margin-left: 26px;
    margin-top: -5px;
}

.door-left-danger {
    width: 30px;
    height: 30px;
    border-left: 5px solid white;
    border-right: 1px solid #f05050;
    border-top: 3px solid;
    border-bottom: 1px solid #f05050;
    border-bottom-right-radius: 65px;
}

.door-left1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid;
    border-left: 5px solid white;
    border-right: 1px solid #f05050;
    border-top: 1px solid #f05050;
    border-top-right-radius: 65px;
    margin-top: 26px;
    margin-left: -5px;
}

.door-bottom-danger {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 3px solid;
    border-right: 1px solid #f05050;
    border-top: 1px solid #f05050;
    border-top-right-radius: 60px;
}

.door-bottom1-danger {
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-left: 1px solid #f05050;
    border-right: 3px solid;
    border-top: 1px solid #f05050;
    border-top-left-radius: 60px;
    margin-left: 26px;
}

/*CASHIER*/
.kasir {
    width: 10px;
    height: auto;
}

.kasir>.screen {
    width: 20px;
    height: 15px;
    position: relative;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 2px;
}

.kasir>p {
    font-size: 13px;
    margin: 0px 0px 0px -9px;
    font-family: times new roman;
}

.foot {
    height: 2px;
    width: 3px;
    border-top: 2px solid;
    border-right: 0px solid;
    border-bottom: 2px solid;
    border-left: 6px solid;
    margin: 0px 0px 0px 7px;
}

/*ATM*/
.atm {
    width: 9%;
    height: 26px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
}

.atm>p {
    font-size: 11px;
    font-weight: bold;
    margin: 0px 0px 0px 7px;
}

/*RACK*/
.rack5x2 {
    width: 65%;
    height: 45px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: orange;
    font-family: times new roman;
}
.rack5x2>p{
    margin: 8px 0px 0px 113px;
    font-weight: bold;
    font-size: 16px;
    font-family: times new roman;
}
.rack5x1 {
    width: 65%;
    height: 30px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: #ff471a;
}
.rack5x1>p{
    margin: 1px 0px 0px 113px;
    font-weight: bold;
    font-size: 15px;
    font-family: times new roman;
}

.rack2x2 {
    width: 14%;
    height: 46px;
    background: #4caaf9b3;
    border: 2px solid #474e5d;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    font-size: 10px;
    background-color: #19a9d5;
}
.rack2x2>p{
    margin: 9px 0px 0px 3px;
    font-weight: bold;
    font-size: 13px;
    font-family: times new roman;
}

.building>div{
    display: inline-block;
    position: absolute;
    z-index: auto;
    margin-right: 0%;
}