<div class="header">
    <div class="col-md-4">
    <div class="logo">
        <img src="/assets/img/angular2-logo-red.png"/>
        <span>EMS</span>
    </div>
    </div>
    <div class="col-md-8">
        <ul class="pull-right">
            <li>
                <a [routerLink]="['dashboard']">
                     <md-icon>dashboard</md-icon>&nbsp;Dashboard
                </a>
            </li>
            <li>
                <a [routerLink]="['maps']">
                   <md-icon>pin_drop</md-icon>&nbsp;Maps
                </a>
            </li>
            <li>
                <a [routerLink]="['setup']">
                    <md-icon>settings</md-icon>&nbsp;Setup
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
         <main [@routerTransition]="getState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </main>
    </div>
</div>